.card {
  border: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  height: 500px;
}

.card img {
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.old-value {
  text-decoration: line-through;
  color: gray;
}

.value {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.value i {
  font-size: 1rem;
}

body {
  background: #F0F2F5;
}

header .row {
  justify-content: end;
}

main {
  padding-bottom: 2rem;
}

footer i {
  font-size: 2rem;
  color: white;
}

@media(max-width: 1000px){
  .card {
    height: 400px;
  }

  header .row {
    display: grid;
    justify-content: center;
    grid-template-areas:
      "website website"
      "search-input search-button";
  }

  header .row .col-3 {
    width: 100%;
    grid-area: website;
    margin-bottom: 1rem;
  }

  header .row .col-5 {
    width: 100%;
    grid-area: search-input;
  }

  header .row .col-1 {
    width: 100%;
    grid-area: search-button;
  }
}
