{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="https://promodegrupo.com/static/css/index.css">
  <title>Loja</title>
{% endblock %}

{% block content %}
  {% with current_page=current_page, username=username %}
    {% include "includes/header.html" %}
  {% endwith %}
  <main>
    <div class="container">
      {% with products=products %}
        {% include "includes/products.html" %}
      {% endwith %}
    </div>
  </main>
  {% with configuration=configuration %}
    {% include "includes/footer.html" %}
  {% endwith %}
{% endblock %}
