{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
  <title>{{ product.name }}</title>
{% endblock %}

{% block content %}
  {% with current_page=current_page %}
    {% include "includes/header.html" %}
  {% endwith %}
  <main>
    <div class="mb-4 main-container container d-flex flex-column justify-content-center align-items-center">
      <img src="{{ product.image_url }}" class="mb-3" alt="{{ product.name }}">
      <div class="d-flex flex-column align-self-start mb-3">
        <h5 class="card-title mb-3">{{ product.name }}</h5>
        <p class="card-text old-value">{{ product.formatted_old_value }}</p>
        <p class="card-text value fs-2 fw-bold text-success">{{ product.formatted_value }}</p>
      </div>
      {% if product.website == 'amazon' %}
        <a class="btn btn-primary w-100" href="{{ product.url }}">Comprar na Amazon <i class="fas fa-external-link-alt"></i></a>
      {% elif product.website == 'magalu' %}
        <a class="btn btn-primary w-100" href="{{ product.url }}">Comprar na Magalu <i class="fas fa-external-link-alt"></i></a>
      {% elif product.website == 'mercadolivre' %}
        <a class="btn btn-primary w-100" href="{{ product.url }}">Comprar no Mercado Livre <i class="fas fa-external-link-alt"></i></a>
      {% endif %}
    </div>
    <div class="container text-center mb-4">
      <h4>Veja mais promoções do dia</h4>
    </div>
    <div class="container mb-4">
      {% with products=products %}
        {% include "includes/products.html" %}
      {% endwith %}
      <a href="{{ url_for('today_promotions', username=username) }}" class="w-100 mt-4 btn btn-primary">Ver todas as promoções do dia</a>
    </div>
  </main>
  {% with configuration=configuration %}
    {% include "includes/footer.html" %}
  {% endwith %}
{% endblock %}
